@import "normalize.scss";


:root{
	--container-width: 1200px;
	--container-padding: 15px;
	--secondary: rgba(71, 84, 103, 1);
}

body {
	font-family: 'DM+Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.5);
}
.none {
	display: none !important;
}

[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 15px;
}
//PC
@media (max-width: 1200px){
	[class*="__container"] {
		max-width: 970px;
	}
}
//Tablet
@media (max-width: 991.98px){
	[class*="__container"] {
		max-width: 750px;
	}
}
//Mobile
@media (max-width: 767.98px){
	[class*="__container"] {
		max-width: none;
	}
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 1 auto;
}

/*********************************************************/
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 80px;
	align-items: center;
}
.header__logo {
	display: flex;
	z-index: 5;
}
.header__menu {
	flex: 1 1 auto;
}
.header__button {
	display: flex;
	align-items: center;
}
.menu {
	display: flex;
	justify-content: flex-start;
	padding: 0 0 0 76px;
}
.menu__list {
	display: flex;
	gap: 60px;
}
.menu__link {
	font-size: 16px;
	line-height: 3.2;
	color: #000;
}
.menu__link:hover {
	text-decoration: underline;
}
@media (max-width: 767.98px){
	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #F9BF77;
		padding: 80px 15px 30px 15px;
		transition: left 0.3s ease 0s;
	}
	.header:target .menu__body {
		left: 0;
	}
	.menu__list {
		gap: 20px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.menu__link {
		font-weight: bold;
		font-size: 30px;
	}
}
.menu__item {
	
}

.button {
	display: inline-block;
	font-family: "Oswald";
	font-weight: 400;
	text-transform: uppercase;
	border: 1px solid rgba(255, 255, 255, 0.295743);
	border-radius: 2px;
}
.button_black {
	display: flex;
	z-index: 10;
	color: #FFFFFF;
	background-color: #000;
	padding: 11px 42px;
	transition: background-color 0.3s ease-in 0;
}
.button_black:hover {
	background-color: rgb(32, 32, 32);
}
/***********************************************************/
.close-icon-menu,
.icon-menu {
	display: none;
}
@media (max-width: 767.98px){
	.icon-menu {
		position: relative;
		flex: 0 0 30px;
		height: 18px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0px 30px 0px 20px;
	}
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		background-color: #000;
		height: 2px;
	}
	.icon-menu span {
		height: 2px;
		background-color: #000;
	}
	.close-icon-menu {
		flex: 0 0 30px;
		height: 30px;
		margin: 0px 30px 0px 20px;
		position: relative;
	}
	.close-icon-menu::before,
	.close-icon-menu::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		background-color: #000;
		height: 2px;
	}
	.close-icon-menu::before {
		transform: rotate(45deg);
	}
	.close-icon-menu::after {
		transform: rotate(-45deg);
	}
	.header:target .icon-menu {
		display: none;
	}
	.header:target .close-icon-menu {
		display: flex;
	}

}
@media (max-width: 360.98px){
	.button_black {
		padding: 9px 15px;
	}
	.menu {
		padding: 0 0 0 50px;
	}
	.header__menu {
		flex: 0 0 auto;
	}
}
/*#######################################################*/
/*#######################################################*/
.sience {
	background-color: rgba(231, 212, 190, 0.44);
	margin: 90px 0px 0px 0px;
}

.sience__container {
	display: flex;
	flex-direction: row;
	align-items: center;
}
@media (max-width: 767.98px){
	.sience__container {
		flex-direction: column;
	}
}
.sience__content {
	flex: 0 1 52%;
}
.sience__block-text {
	max-width: 467px;
	// padding: 0px 120px 0px 0px;
}
.sience__image {
	flex: 0 1 48%;
}
.sience__image img{
	width: 100%;
	object-fit: cover;
}
@media (max-width: 767.98px){
	.sience__image img{
		width: 100%;
		object-fit: cover;
	}
}
/*#######################################################*/
/*#######################################################*/
.block-text {
	position: relative;
}
.block-text__sience {
	font-family: 'Oswald';
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000000;
}
.block-text__title {
	font-family: 'Ultra';
	font-size: 72px;
	line-height: 80px;
	color: #000;
	margin: 21px 0px 0px 0px;
}
.block-text__text {
	font-size: 20px;
	line-height: 32px;
	color: #000000;
	margin: 27px 0px 20px 0px;
}
.colos {
	position: absolute;
	top: -145px;
	left: -108px;
}
.colos2 {
	position: absolute;
	top: 19px;
	left: 251px;
}
@media (max-width: 991.98px){
	.block-text__sience {
		font-size: 15px;
		line-height: 30px;
	}
	.block-text__title {
		font-size: 53px;
		line-height: 63px;
	}
	.block-text__text {
		font-size: 18px;
		line-height: 32px;
	}
}
@media (max-width: 767.98px){
	.block-text__sience {
		margin: 15px 0px 0px 0px;
		font-size: 16px;
		line-height: 30px;
	}
	.block-text__title {
		font-size: 67px;
		line-height: 80px;
	}
}